# EditorConfig for Android Project - Force UTF-8 encoding
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.kt]
charset = utf-8
indent_size = 4

[*.xml]
charset = utf-8
indent_size = 4

[*.json]
charset = utf-8
indent_size = 2

[*.gradle]
charset = utf-8
indent_size = 4

[*.gradle.kts]
charset = utf-8
indent_size = 4

[*.properties]
charset = utf-8
